/* older css template */
/* page body formatting */
@font-face {
    font-family: 'Montserrat-Regular';
    font-style: normal;
    font-weight: normal;
    font-display: block;
    src: url('./fonts/Montserrat-Regular.ttf') format('truetype');
}

body {
    color:  #ffffff;
    background-color: #222;
    font-family: 'Montserrat-Regular';
}
body.sqm_leftMain {
    color:  #ffffff;
    background-color: #222;
}

body, small {
    font-size: 10pt;
}

td, th {
    font-size: 12pt;
}

textarea, pre {
    font-family: 'Montserrat-Regular';
    font-size: 12pt;
}

/* right links */
a:link, a:visited, a:hover, a:active {
    color: #aaa;
}

/* left links */
.sqm_leftMain a:link, .sqm_leftMain a:visited, .sqm_leftMain a:hover, .sqm_leftMain a:active {
    color:  #aaa;
}
.leftunseen, .leftspecial, .leftspecial a:link, .leftspecial a:visited, .leftspecial a:hover, .leftspecial a:active {
    color:  #ccc;
}
.leftnoselect a:link, .leftnoselect a:visited, .leftnoselect a:hover, .leftnoselect a:active {
    color:  #aaa;
}

/* highlighted texts */
.highlight {
    color:  #bbb;
}
.error_table {
    color: #ff0000;
    border: 2px solid #444;
    background-color: #222;
}
.error_thead {
    background-color: #222;
}
.error_thead_caption {
    background-color: #76673e;
}
.error_row {
    color: #ff0000;
}
.error_val {
    color: #000000;
    border: 2px solid #444;

}
.error_key {
    border: 2px solid #444;
    color: #ff0000;
    background-color: #222;
}

/* Standard defs */
table.table1    {
    border: 1px solid #444;
}
table.table2    {
    border: 1px solid #555;
}
td.header1  {
    background: #444;
}
td.header2  {
    background: #555;
}
td.header4  {
    background: #666;
}
tr.even {
    background: #222
}
tr.odd  {
    background: #222;
}
.table_standard {
    border:1px solid #444;
}

.sqm_loginOrgName, .sqm_signoutBar {
    background: #444;
}
.sqm_motd {
    background: #555;
}
.sqm_motd td {
    background: #ffffff;
}

/* empty_folder.tpl defs */
.sqm_emptyFolder {
    background: #c0c060;
}
.sqm_emptyFolder td {
    background: #c0c060;
}

/* error_box.tpl definitions */
.table_errorBoxWrapper   {
    background: #555;
}
.table_errorBox  {
    background: #444;
}
.error_message {
    background: #ffffff;
}

/* page_header.tpl definitions */
.sqm_currentFolder  {
    background: #777;
}
.sqm_headerSignout  {
    background: #aaa;
}

/* message_list.tpl definitions */
.table_messageListWrapper   {
    background: #555;
}

.table_messageList  {
    background: #666;
}
.table_messageList td.spacer {
    background: #444;
}
.table_messageList  tr.mouse_over   {
    background: #666;
}
.table_messageList  tr.clicked  {
    background: #666;
}
.deleted    {
    color: #555;
}
.flagged    {
    color: #cc0000;
}
.high_priority  {
    color: #800000;
}
.low_priority   {
    color: #000000;
}
.message_list_controls {
    background: #444;
}
.spacer {
    background: #ffffff;
}

/* dialog box defs */
.dialogbox   table.wrapper   {
    border: 1px solid #444;
}
.dialogbox   td.folderAction {
    background: #444;
}

/* addressbook_list.tpl defs */
#addressList    table   {
    border: 1px solid #555;
}
#addressList    td.header1  {
    background: #555;
}
#addressList    td.abookSwitch  {
    background: #444;
}

#addressList    td.abookButtons  {
    background: #444;
}
#addressList    td.abookField   {
    border-left: 1px solid #555;
    border-right: 1px solid #555;
}
#addressList    td.colHeader {
    background: #555;
}
#addrBookSearch   table.wrapper   {
    border: 1px solid #555;
}
#addrAddEdit    table   {
    border: 1px solid #555;
}
#addrAddEdit    td.header   {
    background: #555;
}

/* options defs */
#optionGroups   table   {
    border: 1px solid #444;
}
#optionGroups   td.title    {
    background: #222;
}
#optionGroups   td.optionElement    table   {
    border:1px solid #555;
}
#optionGroups   td.optionName   {
    background: #555;
}
#optionGroups   td.optionDesc   {
    background: #444;
}
#optionDisplay  table   {
    border: 1px solid #444
}
#optionOrder    table   {
    border: 1px solid #444
}
#optionOrder    table.moveFields    td  {
    border-left: 1px solid #444;
    border-right: 1px solid #444;
}
#optionsIdentity    table.table2 tr  {
    background: #444;
}
#optionsIdentity hr  {
    width: 95%;
    border: 1px solid #555;
}

/* help defs */
#help   td.nav  {
    color: #444;
}

/* search defs */
div.search td.header4  {
    border-bottom: 1px solid #555;
}
div.search td.queryAction {
    border-left: 1px solid #555;
    border-top: 1px solid #555;
    border-bottom: 1px solid #555;
}

div.search td.queryDesc  {
    border-top: 1px solid #555;
    border-bottom: 1px solid #555;
}
div.search span.error  {
    color: #cc0000;
}
div.search td.searchForm  {
    border-right: 1px solid #444;
    border-left: 1px solid #444;
}
div.search td.queryError {
    color: #cc0000;
}
div.search h2 {
    color: #cc0000;
}

/* compse defs */
div.compose tr.header {
    background: #555;
}
div.compose tr.attachment td {
    background: #444;
    border-top: 1px solid #555;
    border-bottom: 1px solid #555;
}

div.compose table.close {
    background: #444;
    border:1px solid #555;
}

div.readHeaders table.table2 {
        background: #333;
}

div.readMenuBar td {
        background: #333;
}
